/* src/components/StreamList.css */

.streamlist-container {
  text-align: center;
  margin-top: 20px;
}

form {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-right: 5px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}